<h1>New cocktail</h1>

<form action="<%= cocktails_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="cocktail[name]">

  <%= collection_check_boxes :cocktail, :ingredient_ids, Ingredient.all, :id, :name %>

  <input type="submit" value="Create Cocktail">
</form>
